:root {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #f9f9f9;
}

/* Reset básico */
* {
  margin: 0;
  box-sizing: border-box;
}

/* Navbar */
nav {
  width: 100%;
  background-color: #222;
  padding: 15px;
  display: flex;
  justify-content: center;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background 0.3s ease;
}

nav ul li a:hover {
  background-color: #444;
}

/* Contenedor principal */
.mainContainer {
  display: flex;
  height: 100vh;
}

/* Sidebar */
.sidebar {
  width: 250px;
  background-color: #eee;
  padding: 15px;
  height: 100vh;
  overflow-y: 0 auto;
  flex-shrink: 0;
}

/* Contenido Principal */
.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  padding: 20px;
  max-width: calc(
    100vw - 475px
  ); /* Ajusta el ancho máximo restando el sidebar */
}

/* Links en Sidebar */
.sidebar a {
  display: block;
  padding: 10px;
  color: #222;
  text-decoration: none;
  transition: background 0.3s ease;
}

.sidebar a:hover {
  background-color: #ddd;
}

/* Estilos del Contenido */
h1 {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}
